{% extends 'english/base.html.twig' %}

{% block main %}
    <div id="categories">
        <h1>Categories</h1>
        <ul class="list-view">
            {% for category in categories %}
                {% if category.videos | length > 0 %}
                <li class="list-item">
                    <a href="{{ path('english_category_detail', {id: category.id} ) }}">
                        <div class="data">
                            <h2>{{ category.name }}</h2>
                        </div>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
    <div id="videos">
        <h1>New</h1>
        <ul class="list-view videos">
            {% for item in videos %}
                <li class="list-item video">
                    <a href="{{ path('english_video_detail', {id: item.id} ) }}">
                        <div class="thumbnail">
                            <img src="{{ item.thumbnail }}" alt="thumbnail">
                            <div class="duration">{{ item.duration }}</div>
                        </div>
                        <div class="data">
                            <h2>{{ item.name }}</h2>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>

    {% for category in categories %}
        {% if category.videos | length > 0 %}
            <div id="videos">
                <h1>{{ category.name }}</h1>
                <ul class="list-view videos">
                    {% for item in category.videos %}
                        <li class="list-item video">
                            <a href="{{ path('english_video_detail', {id: item.id} ) }}">
                                <div class="thumbnail">
                                    <img src="{{ item.thumbnail }}" alt="thumbnail">
                                    <div class="duration">{{ item.duration }}</div>
                                </div>
                                <div class="data">
                                    <h2>{{ item.name }}</h2>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block ads %}
    <script data-ad-client="ca-pub-7239842536007968" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}