<html lang="en">
<head>
    {% block stylesheets %}{{ encore_entry_link_tags('home') }}{% endblock %}
    <title>{% block title_header %}Writetf - Choose your favourite{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:title" content="{% block og_title %}Writetf - Choose your favourite{% endblock %}"/>
    <meta property="og:description"
          content="{% block og_description %}Write to forget, Communities, or Learning English PRO... All in Writetf{% endblock %}"/>
    <meta property="og:image" content="{% block og_image %}https://writetf.com/logo.png{% endblock %}">
    <meta property="og:image:alt" content="{% block og_image_alt %}Writetf - Choose your favourite{% endblock %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="{% block ogImageWidth %}300{% endblock %}">
    <meta property="og:image:height" content="{% block ogImageHeight %}300{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body class="{% block body_class %}index{% endblock %}">
{% block nav %}
    <div class="nav">
        <div class="nav-inside">
            <div class="item left logo"><img src="/images/writetf-transparent.png" width="35">
                <h1>{% block title %}Writetf{% endblock %}</h1></div>
            <div class="item middle"></div>
            <div class="item right">{% block header_right %}
                    {% if app.user %}
                        <div class="avatar">{{ app.user.textAvatar }}</div>
                    {% endif %}
                {% endblock %}</div>
        </div>
    </div>
{% endblock %}
{% block outside_main %}
    <div id="main">
        {% block main %}
            <div class="choose">Choose your favourite</div>
            <ul id="list-app">
                <li>
                    <a href="{{ path('write_to_forget_index') }}"><img src="/images/writetoforget.png"><span>Write to forget</span></a>
                </li>
                <li>
                    <a href="{{ path('community_index') }}"><img src="/images/communities.png"><span>Communities</span></a>
                </li>
                <li>
                    <a href="{{ path('english_home_index') }}"><img src="/images/learning-english.png"><span>Learning English PRO</span></a>
                </li>
            </ul>
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
    {% if app.environment == 'prod' %}
        <script data-ad-client="ca-pub-7239842536007968" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150392936-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];

          function gtag() {
            dataLayer.push(arguments);
          }

          gtag('js', new Date());
          gtag('config', 'UA-150392936-1');
        </script>
    {% endif %}
{% endblock %}
</body>
</html>
