{% extends 'base.html.twig' %}

{% block body_id 'user_password' %}

{% block main %}
    <div id="post-creation" class="card">
        <div class="card-header">
            <h2>{{ 'title.change_password'|trans }}</h2>
            <p class="">{{ 'info.change_password'|trans }}</p>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}

        </div>
        <div class="card-footer">

            <button type="submit" class="btn btn-outline-light">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block sidebar_right %}
    <div class="section">
        <a href="{{ path('user_edit') }}" class="btn btn-block btn-danger">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_user'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
